version: '3.8'

services:
  api:
    image: ${CI_REGISTRY_IMAGE}:prod
    container_name: project-api-production
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      db:
        condition: service_healthy
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}
      API_URL: ${API_URL}
    networks:
      - project-network

    command:
      - sh
      - -c
      - |
          echo "$DATABASE_URL"
          npx prisma migrate deploy
          yarn start

  db:
    image: postgres:15
    container_name: project-db-production
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - project-db-production-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - project-network

volumes:
  project-db-production-data:

networks:
  project-network:
    external: true
